.row-header {
	margin: 0px;
	padding: 0px auto;
}
.row-content {
	 margin: 0px;
	 padding: 50px 0px 50px 0px;
	 border-bottom: 1px ridge;
	 min-height: 400px;
}
.footer {
	background-color: #AfAfAf;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}
.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background-color: #7986CB;
}

address {
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}
body {
	padding: 50px 0px 0px 0px;
	z-index: 0;
}
.navbar-inverse {
	background-color: black;
}
.card-block {
	margin: 60px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 50px;
}
#corporate {
	padding: 0px 50px 0px 50px;
}